body {
    font-family: Helvetica, sans-serif
}

div.img {
    background: url("../img/romain-vignes-53940-unsplash.jpg") no-repeat center;
    div.cover {
        background: rgba(255, 255, 255, 0.9);

        @media (max-width: 986px) {
            background: rgba(255, 255, 255, 1);
        }
    }
    color: black;
    pre {
        display: inline;
    }
}

.main {
    ul li {
        display: inline;
    }

    h1 {
        font-family: 'adobe-caslon-pro', serif;
        // font-size: 4rem;
    }

}

#transcribeForm {
    display: none;
    div, button {
        display: inline-block;
    }
}

.active {
    button {
        color: orange;
    }
}

#searchForm {
    div, button {
        display: inline-block;
    }
}

// strong {
//     color: skyblue;
// }